* {margin: 0; padding: 0; font-size: 100%; border: none; outline: none; font-weight: 300; box-sizing: border-box; font-family: 'Akaya Telivigala', cursive;}

body {background-color: white;}
a  {text-decoration: none;}
ul {list-style: none;}
img {max-width: 100%;}

/* Container */
.container {width: 100%; float: left; padding: 3% 4%; text-align: center;}

/* Pointers FAZER DEPOIS*/

/* bg colors */
.bg-gradient {background: linear-gradient(to right,#000,#fff);}
.bg-black {background-color: #000;}

/*Cabecalho*/
.logo {width: 56px; height: 56px; float: left; background: url(../img/nodeprop/img/logo-mobile.png) center center/56px no-repeat; font-size: 0;}
.btn-menu {width: 56px; height: 56px; float: right; text-align: center; color: #fff; border-radius: 56px; cursor: pointer;}

/*Menu*/
.menu {display: none; width: 100%; height: 100%; position: fixed; background-color: rgba(0,0,0,0.9); top: 0; left: 0;}
.btn-close {font-size: 1.5em; color: #fff; float: right; cursor: pointer; margin: 2% 3% 0 0;}
.menu ul {width: 100%; float: left; text-align: center;}
.menu li {padding: 1.5%}
.menu li a {font-size: 2em; color: #fff; padding: 1.5% 3%;}
.menu li a:hover {border: 1px solid #fff}

/*banner*/
.banner { background: url(../img/nodeprop/img/bg.jpg) no-repeat fixed;}
.title {width: 100%;}
.title h1 {font-size: 2.5em; color: #fff; font-weight: 700;}
.buttons i {float: right;}
.btn {width: 100%; font-size: 1.5em; text-align: left; cursor: pointer; padding: 5%; border-radius: 10px;}
.btn-cadastrar {background-color: #fff; color: #000;}
.btn-sobre {background-color: #fff; color: #000; margin-top: 2%;}

/*servicos*/
.entendi {width: 100%; text-align: left; border-radius: 7px; margin-bottom: 3%;}
.entendi img {width: 100%; border-radius: 7px 7px 0 0;}
.inner {padding: 7%;}
.inner a {font-size: 1.5em; color: #fff; font-weight: 700;}
.inner h4{font-size: 1.2em; color: #fff; margin-top: 2%;}
.inner p{margin-top: 6%; color: #fff}

/*newsletter*/
.newsletter h2 {font-size: 1.5em; color: #fff; font-weight: 700;}
.newsletter h3 {color: #fff;}
.newsletter form {margin-top: 2%;}
.newsletter input {width: 100%; background-color: #000; color: rgba(255,255,255,0.3); border: 1px solid #fff; padding: 5%; border-radius: 5px; }
.newsletter button {width: 100%; background-color: #fff; color: #000; padding: 5%; border-radius: 5px; cursor: pointer; margin-top: 10px;}

/*rodape*/
.social-icons a {font-size: 1.5em; color: rgba(255,255,255,0.7); margin-right: 5%;}
.social-icons a:last-child {margin-right: 0;}
.social-icons a:hover {color: rgba(255,255,255);}
.copyright {margin-top: 2%; color: rgba(255,255,255,0.7);}

/* Media types = screen e types (os mais importantes)
@media print {
    .title h1 {font-size: 2.5em; color: red; font-weight: 700;}
}*/

/* MOBILE FIRST BREAKPOINTS*/

/* SMALL DEVICES SMART BREAKPOINTS */
@media screen and (min-width: 480px) {
.logo {width: 214px; background: url(../img/nodeprop/img/logo.png) center center/214px no-repeat;}
}

/* SMALL DEVICES TABLETS BREAKPOINTS */
@media screen and (min-width: 768px) {
.entendi {width: 31%; float: left; margin-right: 2%;}
.entendi(2){margin-right: 0;}

    
/* SMALL DEVICES TABLETS BREAKPOINTS */
.newsletter h2 {font-size: 2em;}
.newsletter h3 {font-size: 1.5em;}
.newsletter input {width: 70%; padding: 2%; float: left; margin-right:1%;}
.newsletter button {width: 29%; padding: 2%; float: right; margin-top: 0%;}
}

    
/* SMALL MEDIUM DEVICES TABLETS e DESKTOPS BREAKPOINTS*/
@media screen and (min-width: 960px) {
    .title {width: 70%; float: left; text-align: left;}
    .title h2 {font-size: 3em;}
    .title h3 {font-size: 2em;}
    .buttons {width: 30%; float: right; margin-top: 0;}
    .servico {width: 32%; }
    .servico:nth-child(2){margin-right: 2%;}
    .servico:nth-child(3){margin-right: 0;}
    .newsletter input {width: 60%; float: none;}
    .newsletter button {width: 20%; float: none;}
}

/* LARGE DEVICES TABLETS e DESKTOPS BREAKPOINTS*/
@media screen and (min-width: 1280px) {
    .btn-menu {display: none;}
    .btn-close {display: none;}
    .menu {width: auto; height: 56px; line-height: 56px; background-color: #fff; display: block !important; position: static;}
    .menu li{padding: 0; float: left;}
    .menu li a{color: #000; font-size: 1em; padding: 15px;}
    .menu li a:hover{border: none; color: #000;}
}


